<div fxLayout="row">
  <div fxFlex>
    <div class="text-center">
      <h1>¿Qué sabes de Phishing?</h1>
    </div>
    <div class="article-box">
      <div class="article-content text-center">
        <p>Phishing es una técnica que consiste en engañar al usuario para robar su información confidencial (contraseñas, información bancaria), haciéndole creer que está en un sitio seguro.</p>
        <p>El objetivo de Phishing es engañar por medio de correos electrónicos que contengan enlaces con la finalidad de que las personas faciliten información personal, envíen dinero o descarguen malware para infectar el equipo.</p>
      </div>
    </div>
  </div>
  <div fxFlex="10"></div>
  <div fxFlex="30">
    <img src="../../../../assets/img/image11.png" alt="">
  </div>
</div>
