<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex>
    <div class="text-center">
      <h1>Detecta el correo sospechoso</h1>
    </div>
    <div class="article-box">
      <div class="article-content text-center" style="padding: 1px;">
        <p>Pon a prueba los conocimientos aprendidos, analiza las siguientes imágenes para averiguar si se trata de un correo sospechoso:</p>
      </div>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
<div fxLayout="row">
  <div fxFlex>
    <img src="../../../../assets/img/image14.png" alt="">
    <img src="../../../../assets/img/image15.png" alt="">
    <img src="../../../../assets/img/image16.png" alt="">
  </div>
  <div fxFlex="10"></div>
  <div fxFlex="30" fxLayoutAlign="center center">
    <div class="article-box">
      <div class="article-content text-center">
        <p>Si identificaste que la URL es engañosa, es un correo sospechoso. El dominio real es "sytez.net", que está camuflado para parecerse a Google Drive. Ten especial cuidado cuando dudes si conoces al remitente.</p>
      </div>
    </div>
  </div>
</div>
