<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex>
    <div class="text-center">
      <h1>Alerta, ¡Correo sospechoso!</h1>
    </div>
    <div class="article-box">
      <div class="article-content text-center">
        <p>Es importante que recuerdes que al correo corporativo solo llega información laboral, por ende, los correos relacionados con información personal, anuncios, promociones, cobros, transacciones bancarias, se consideran como correos sospechosos.</p>
      </div>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
<div fxLayout="row" class="article-tips">
  <div fxFlex>
    <br />
    <br />
    <br />
    <div class="article-box">
      <div class="article-content text-center">
        <p>Si recibes un correo electrónico que parece sospechoso, te indicamos como identificarlo y que hacer,</p>
        <p>Las siguientes señales te indicaran si se trata de una estafa:</p>
        <ol>
          <li>El correo del remitente no coincide o es diferente al nombre</li>
          <li>El asunto del correo es alarmante</li>
          <li>En el cuerpo del correo incitan a dar clics para ingresar a hipervínculos</li>
          <li>Los asuntos del correo tienen extensiones ejecutables (.exe - .bat)</li>
          <li>Solicitan que envíes información personal</li>
        </ol>
      </div>
    </div>
  </div>
  <div fxFlex="2"></div>
  <div fxFlex="20">
    <img src="../../../../assets/img/image11.png" alt="">
  </div>
  <div fxFlex="2"></div>
  <div fxFlex>
    <br />
    <br />
    <br />
    <div class="article-box">
      <div class="article-content text-center">
        <p>¿Cómo se debe actuar?</p>
        <ol>
          <li>No hagas clic ni descargues los archivos adjuntos</li>
          <li>No abras ningún enlace</li>
          <li>No respondas el correo ni envíes tu información</li>
          <li>No reenvíes el correo a otras personas</li>
        </ol>
        <p>Si has respondido el correo sospechoso, descargado archivos, abriste las URL o enviaste información personal, debes avisar al área de seguridad de la información.</p>
      </div>
    </div></div>
</div>
