<div fxFlex="30">
  <img src="../../../../assets/img/image12.png" alt="">
</div>
<div fxFlex="10"></div>
<div fxFlex>
  <div class="text-center">
    <h1>¿Cómo detectar un mensaje de Phishing?</h1>
  </div>
  <div class="article-box">
    <div class="article-content text-center">
      <p>Recuerda que un ataque de <strong>Phishing</strong> tiene tres componentes, el ataque se realiza por medio de comunicación electrónica como el envío de un correo electrónico. El ciberdelincuente se puede hacer pasar por una persona de confianza o una organización. Y el objetivo siempre será obtener información confidencial.</p>
      <p>El objetivo de Phishing es engañar por medio de correos electrónicos que contengan enlaces con la finalidad de que las personas faciliten información personal, envíen dinero o descarguen malware para infectar el equipo.</p>
    </div>
  </div>
  <div class="article-box">
    <div class="article-content text-center" style="padding: 1em;">
      <p>Las formas de reconocer un correo electrónico de Phishing</p>
    </div>
  </div>
  <div fxLayout="row" class="article-tips">
    <div fxFlex>
      <div class="article-box">
        <div class="article-content text-center" style="padding: 1em;">
          <p><strong>Llamada urgente a la acción o amenazas:</strong> los correos que incitan a abrir archivos adjuntos, abrir enlaces que redirigen a otros sitios o dar clic, haciéndolo llamativo con mensajes como que reclame cupones, recompensas o que se eviten cobros y penalizaciones.</p>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex>
      <div class="article-box">
        <div class="article-content text-center" style="padding: 1em;">
          <p><strong>Ortografía y gramática incorrecta:</strong> los correos que en la información contengan errores gramaticales y ortográficos evidentes. </p>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex>
      <div class="article-box">
        <div class="article-content text-center" style="padding: 1em;">
          <p><strong>Enlaces sospechosos:</strong> los correos que traen enlaces para redirigir a otros sitios se deben validar pasando el mouse sobre el vínculo (sin hacer clic) para comprobar si la URL coincide con el vínculo escrito en el mensaje.</p>
        </div>
      </div>
    </div>
  </div>
</div>
