<div class="nexa-header">
  <br />
  <!-- Header -->
  <div fxLayout="row wrap">
    <div fxFlex="5"></div>
    <div fxFlex>
      <div fxFlex="10" fxLayoutAlign="center end">
        <img src="../assets/img/saro.svg" alt="">
      </div>
      <div fxFlex="10"></div>
      <div fxFlex>
        <div fxLayout="column">
          <div fxFlex><strong style="font-family: 'Calibri Light'; font-size: 4em;">WORKEANDO</strong></div>
          <div fxFlex fxLayoutAlign="end"><span style="font-family: Gabriola; font-size: 4em; font-style: italic;">Somos protectores</span></div>
        </div>
      </div>
      <div fxFlex="10"></div>
      <div fxFlex="20" fxLayoutAlign="end center">
        <img src="../assets/img/nexa-logo.svg" alt="">
      </div>
    </div>
    <div fxFlex="5"></div>
  </div>
</div>
<br />
<br />
<!-- Content -->
<div fxLayout="row wrap">
  <div fxFlex="10"></div>
  <div fxFlex>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="10"></div>
    <div fxFlex="30">
      <app-fast-info></app-fast-info>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
