::ng-deep {
  body {
    background-color: #F2F2F2;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .nexa-header {
    background-color: #17ABD9;
    color: white;
  }

  .nexa-header > div {
    height: 12em;
  }

  .article-box {
    border: solid 1px #5B9BD5;
    margin-bottom: 1em;
  }

  .article-content {
    padding: 2em 1em;
    font-family: 'Calibri';
    background-color: white;
  }

  .text-center {
    text-align: center;
  }

  .index-title-1 {
    font-family: 'Calibri Light';
    font-size: 4em;
  }

  .index-title-2 {
    font-family: 'Gabriola';
    font-size: 4em;
    font-style: italic;
  }

  @media (max-width: 768px) {
    body {
      font-size: .5em;
    }
  }

  @media (max-width: 425px) {
    body {
      font-size: .3em;
    }
  }
}
