<div class="nexa-header">
  <br />
  <!-- Header -->
  <div fxLayout="row wrap">
    <div fxFlex="5"></div>
    <div fxFlex>
      <div fxFlex="10" fxLayoutAlign="center end">
        <img src="../assets/img/saro.svg" alt="">
      </div>
      <div fxFlex="10"></div>
      <div fxFlex>
        <div fxLayout="column">
          <div fxFlex><strong class="index-title-1">WORKEANDO</strong></div>
          <div fxFlex fxLayoutAlign="end"><span class="index-title-2">Somos protectores</span></div>
        </div>
      </div>
      <div fxFlex="10"></div>
      <div fxFlex="20" fxLayoutAlign="end center">
        <img src="../assets/img/nexa-logo.svg" alt="">
      </div>
    </div>
    <div fxFlex="5"></div>
  </div>
</div>
<p>
  <mat-toolbar>
    <div fxFlex fxLayoutAlign="center">
      <a routerLink="/inicio" fxFlexOffset="1">Inicio</a>
    </div>
  </mat-toolbar>
</p>
<br />
<br />
<!-- Content -->
<div fxLayout="row wrap">
  <div fxFlex="10"></div>
  <div fxFlex>
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>
  <div fxFlex="10"></div>
</div>
