<div fxLayout="row wrap">
  <div class="article-box">
    <div class="article-content text-center">
      <div fxFlex fxLayoutAlign="center center">
        <img src="../../../assets/img/image7.png" alt="">
      </div>
      <div fxFlex="5"></div>
      <div fxFlex>
        <p>Recuerda que, mediante el uso de correo electrónico, se pueden recibir ataques conocidos como phishing, los cuales son maliciosos y buscan capturar información.</p>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row wrap">
  <div class="article-box">
    <div class="article-content text-center">
      <div fxFlex>
        <p>Mantente alerta de correos que contengan información publicitaria que es atractiva para tus intereses (regalos, descuentos y ofertas), esto podría ser un ciberataque. Por lo tanto, te recomendamos no descargar ni ejecutar programas que no pertenezcan al contenido que estás buscando.</p>
      </div>
      <div fxFlex="5"></div>
      <div fxFlex fxLayoutAlign="center center">
        <img src="../../../assets/img/image8.png" alt="">
      </div>
    </div>
  </div>
</div>
<div fxLayout="row wrap">
  <div class="article-box">
    <div class="article-content text-center">
      <div fxFlex fxLayoutAlign="center center">
        <img src="../../../assets/img/image9.png" alt="">
      </div>
      <div fxFlex="5"></div>
      <div fxFlex>
        <p>Mantente alerta de correos que contengan información publicitaria que es atractiva para tus intereses (regalos, descuentos y ofertas), esto podría ser un ciberataque. Por lo tanto, te recomendamos no descargar ni ejecutar programas que no pertenezcan al contenido que estás buscando.</p>
      </div>
    </div>
  </div>
</div>
